name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        compiler: [gcc, clang]

      fail-fast: false

    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and Run Tests
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_CC_COMPILER=${{ matrix.compiler }} ..
          make all test
